.App {
  text-align: left;
  max-width: 90%;
  margin: 0 auto;

}

h1 {
  display: flex;
  color: white;
  padding-left: 10%;
  background-color: #444444;
  max-width: 100%;
  height: 3em;
  align-items: center;
}
